name: "Tests"

on: push

jobs:
    test:
        name: Tests on PHP ${{ matrix.php-versions }}
        runs-on: ubuntu-latest

        strategy:
            fail-fast: true
            matrix:
                php-versions: ['7.1', '7.2', '7.3', '7.4']

        steps:
            -   name: Checkout
                uses: actions/checkout@v2

            -   name: Install PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php-versions }}
                    ini-values: memory_limit=1G

            -   name: Install Composer dependencies
                run: composer update --no-progress --no-suggest --prefer-dist --optimize-autoloader

            -   name: Tests
                run: vendor/bin/phpunit
